<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta charset="utf-8" />
		{% load static %}
		<link rel="stylesheet" href="{% static "css/style.css" %}" />
		{% block extra_css %}{% endblock %}
		<script src="{% static "scripts/ajax.js" %}"></script>
		<script src="{% static "scripts/autocompletion.js" %}"></script>
		
		<title>{% block titre %}Laudera{% endblock %}</title>
		<meta name="description" content="{% block description %}Laudera{% endblock %}" />
		<meta name="author" content="Nicolas Dubien" />
	</head>
	<body>
		{% block contenu %}{% endblock %}
	</body>
</html>

